# App Client Environment Variables
# For Android Emulator, use http://10.0.2.2:3001
# For Physical device, use http://<your-local-ip>:3001
# For local dev / simulator, use http://localhost:3001
EXPO_PUBLIC_API_URL=http://10.0.2.2:3001
EXPO_PUBLIC_ADMOB_APP_ID=ca-app-pub-3940256099942544~3347511713
EXPO_PUBLIC_ADMOB_REWARDED_ID=ca-app-pub-3940256099942544/5224354917
EXPO_PUBLIC_REVENUECAT_API_KEY=goog_sample_fieldnotes_key
EXPO_PUBLIC_RC_PRODUCT_NOTES_20=notes_20
